head{

}
body{
    margin: 0;
}
#menu{
    background-color: lightgrey;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
nav a {
    color: Black;
    font-size: 30px;
    margin-left: 20px;
}

#logo{
    margin-left: 100px;
    height: 50px;
    width: 50px;
}

/* Uvodni banner */
#main{
    text-align: center;
    background-image: url("../img/main.png");
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.mainTitel{
    color: white;
}
.button{
    background-color: dimgray;
    color:white;
    padding: 20px;
    width: 200px;
    border-radius: 20px;
    font-size: 20px;
    font-weight: bold;
    margin: auto;
    border: 1px solid white;
}

/*Blog */
.blogPost{
    width: 300px;
    border: 1px dotted lightslategray;
}

.blogPost > img{
    width: 300px;
}

#blogPostList{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.centerContentWrapper{
    width: 1000px;
    margin: auto;
}



/* Paticka */
footer {
    width: 100%;
    background-color: #333;
    color: #f2f2f2;
    text-align: center;
    font-size: 18px;
    padding: 10px;
}

.centerContentWrapper{
    width: 90%;
}

/* Galerie */
#galerie {
    width: 1000px;
    padding: 20px;
    margin: auto;
}

.obrazekWrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.obrazekWrapper img {
    box-sizing: border-box;
    max-width: 240px;
    display: block;
}

.detail {
    position: relative;
    margin: 5px;
    display: block;
    height: fit-content;

}

.jmeno {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #095670;
    transition: .5s ease;
    opacity: 0;
}

.text {
    color: white;
    font-weight: bold;
    text-decoration: none;
    font-size: 26px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.detail:hover .jmeno {
    opacity: 0.7;
}

/* Form */
.form{
    margin: auto;
}

input, select, textarea{
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid black;
}

label{
    width: 100px;
    display: block;
}

.row{
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

textarea{
    resize: none;
    height: 200px;
}



/*Responzivita*/

@media screen and (max-width: 768px) {
    #galerie {
        width: 80%;
    }

    .form {
        max-width: 100%;
    }

    table textarea {
        box-sizing: border-box;
        resize: vertical;

    }

}

/* Print */
